<div class="container mt-5">
  <h1 class="mb-4">Medical History</h1>

  <div class="row">
    <div class="col-md-6" style="text-align: left;">
      <h2>Prescriptions</h2>
      <ol>
        <li>
          Repatha SureClick 140 mg/ml (shot every two weeks) (cholesterol) - Not
          taking.
        </li>
        <li>Pravastatin – Not taking.</li>
        <li>Farxiga 10 mg TAB (blood sugar levels)</li>
        <li>Valsartan 80 mg (blood pressure)</li>
        <li>Allopurinol 300 mg (uric acid)</li>
        <li>Zetia (Ezetimibe) 10 mg – every other day (cholesterol)</li>
      </ol>

      <h2>Supplements - Day</h2>
      <ul>
        <li>Omega 3 2560 mg (1280 per capsule - 2)</li>
        <li>Low Dose Aspirin 81 mg</li>
        <li>
          Daily Multi (Designs for Health) 1 capsule, Simplified Multivitamin
          and Mineral Complex, Pantothenic Acid, Iodine, Zinc, Selenium,
          Manganese, Chromium, Vitamin E Isomers, Boron.
        </li>
      </ul>

      <h2>Supplements - Night</h2>
      <ul>
        <li>Omega 3 2560 mg (1280 per capsule - 2)</li>
        <li>Magnesium Malate 2400 mg</li>
        <li>
          Daily Multi (Designs for Health) 1 capsule, Simplified Multivitamin
          and Mineral Complex, Pantothenic Acid, Iodine, Zinc, Selenium,
          Manganese, Chromium, Vitamin E Isomers, Boron.
        </li>
      </ul>

    </div>
    <div class="col-md-6" style="text-align: left;">
      <h2>History</h2>
      <ul>
        <li>July 2017 – A1C 6.5 (no mention from the Doctor)</li>
        <li>
          December 2017 – A1C 6.5 (officially diagnosed Type 2 Diabetic – told
          to my face – two 6.5, 6-month readings)
        </li>
        <li style="font-weight: bold;">March 2018 – Started Keto</li>
        <li>Thursday, November 5 – CAC – Coronary Artery Calcium Scan 1514</li>
        <li>
          Monday, November 9 – Left Heart Catheterization – 2 stents, 2
          angioplasties
        </li>
        <li>
          Friday, November 13 – ambulance, on couch, short of breath, shaking –
          heart and blood pressure good, paramedics talked me down,
          anxiety/panic attack
        </li>
        <li>March 2021 – A1C 5.7</li>
        <li>June 2021 – A1C 5.5</li>
        <li>
          January 2022 – A1C 6.0 (Suspect due to lack of exercise in Winter)
        </li>
        <li>
          Sunday, April 3rd, 2022 – ambulance, in bed, short of breath, shaking
          – placed in ambulance, heart and blood pressure good, anxiety/panic
          attack, waited until I could stand, then walked back in house
        </li>
        <li>August 1, 2022 – A1C 5.5</li>
        <li>April 2023 – A1C 5.7</li>
      </ul>
    </div>
  </div>
</div>
